/* exportar */
.dt-button {
    color: white !important;
    width: auto;
    min-width: 80px;
    margin: 2px;
    cursor: pointer;
    font-weight: 800;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.dt-button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.dt-button.buttons-print {
    background: gray;
}

.dt-button.buttons-csv,
.buttons-excel {
    background: green;
}

.dt-button.buttons-pdf {
    background: rgb(191, 6, 6)
}

.dt-button span {
    color: white !important;
}

/* fim exportar */

#datatables_info,
div.dt-container div.dt-length label,
div.dt-container div.dt-search label {
    font-weight: 600;
    font-size: 11px;
    color: black
}

div.dt-container div.dt-search input {
    text-transform: uppercase;
}

div.dt-container div.dt-length select {
    color: black
}

.dt-scroll-body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif
}

td, th {
    vertical-align: middle !important;
    text-align: center
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

.page-link.active,
.active>.page-link {
    background-color: green !important;
    border: none !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    background-color: black !important;
    color: white !important;
    text-align: center !important;
    font-size: 12px !important;
    padding-left: 20px !important;
}

.pagination {
    --bs-pagination-color: #000000;
}

.page-link:hover {
    color: green
}

table.dataTable>tbody>tr:hover {
    background-color: rgb(231, 240, 184) !important
}

.tabela_name {
    color: black !important;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.table_icon {
    font-size: 22px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.table_icon:hover {
    transform: scale(1.2);
    transition: all .5s ease-out;
}

tbody tr td {
    padding: 2px;
}

.pagination {
    --bs-pagination-font-size: 11px
}